<!DOCTYPE html>

<html>

<head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .btnhead {
            background-color: rgb(255, 255, 255);
            border-color: rgb(0, 0, 0);
            color: rgb(0, 0, 0);
            padding: 10px 23px;
            cursor: pointer;
            font-size: 15px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background: rgb(0, 0, 0);
        }

        .btnhead:hover {
            background: none;
        }

        input[type="file"] {
            display: none;
            border-color: rgb(0, 0, 0);
        }

        input[type="submit"] {
            display: none;
            border-color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <div class="mt-1">
                <form action="/insertfile" method="GET">
                    <button class="btnhead" type="submit"><i class="fa fa-download" name="downloadButton"></i>
                        Upload</button>

                    <button class="btnhead" type="submit" formaction='/download'><i class="fa fa-download"
                            name="downloadButton"></i>
                        Download</button>

                    <button type="submit" class="btnhead" formaction='/add' name="addButton"><i class="fa fa-plus"></i>
                        Add
                        Data</button>

                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mt-1">
                <table id="proxies" class="display table nowrap responsive" style="width: 100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>first_name</th>
                            <th>last_name</th>
                            <th>email</th>
                            <th>gender</th>
                            <th>ip_address</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td>{{row["id"]}}</td>
                            <td>{{row["first_name"]}}</td>
                            <td>{{row["last_name"]}}</td>
                            <td>{{row["email"]}}</td>
                            <td>{{row["gender"]}}</td>
                            <td>{{row["ip_address"]}}</td>
                            <td>
                                <form action="/update" method="POST">
                                    <input type='hidden' value='{{row["id"]}}' name='id'>
                                    <button type="submit" class="btn btn-primary" name="updateButton">Update</button>
                                </form>
                            </td>
                            <td>
                                <form action="/delete" method="POST">
                                    <input type='hidden' value='{{row["id"]}}' name='id'>
                                    <button type="submit" class="btn btn-danger" name="deleteButton">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('#proxies').DataTable();
</script>

</html>